.body{
        
    



}

.weathercard{
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid black;
    
    height:300px;
    width:400px;

    display: flex;
    justify-content: space-between;

    
}

.searchbar{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border-bottom: 2px solid goldenrod;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.left{
    
}

