/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.weather-container {
  width: 90vw;
  max-width: 600px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Search Container Styles */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Weather Info Styles */
.weather-info {
  text-align: center;
}

.weather-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Weather Details Styles */
.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-detail {
  width: 45%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.weather-detail h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.weather-detail p {
  font-size: 14px;
}

/* Error Message Styles */
.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}


.Left{
  background-color: #4CAF50;
  width: 60%;
  height: 100vh;
}



